.overlay: .dialog.text-center
	h5.modal-title Confirm Pickup Location
	p Please confirm that this is the store you will be picking up from:
	b {{pickupLocation}}
	a.btn.btn-success(ng-click="$hide()") Continue
	a.btn.btn-danger(href="/locations") Change pickup location