.order-items-listing
  h2 Your Order
  .loading-order(ng-show="!__loadingOrder && !$lines.length") We know you're hungry. Tell us what we can make for you today!
  .loading-order(ng-show="__loadingOrder")
    img(src="/img/ajax-loader-tan.gif")
  table#order-table-right(cellspacing="10",ng-hide="__loadingOrder")
    tbody
      tr(ng-repeat="$line in $lines")
        td
          .panel-group
            .panel.panel-default(ng-click="$line.active = !$line.active")
              div(style="margin: 0 -6px -6px;")
                
                a(class="removeItem" ng-click="deleteLineItem($line)") ×
                table(width="100%" cellspacing="10" class="order-item-table")
                  tbody
                    tr(style="cursor:pointer")
                      td(ng-class="{noSize:$line.UnitID == 15 || $line.UnitID == 7}")
                        span.dropdownArrow
                        //- span(style="float:right" class="itemQty") <b>× {{$line.Quantity}}</b>
                        //- a(class="removeItem" ng-click="deleteLineItem($line)") ×
                        span(class="itemSize" data-size="{{$line.extra.size.SizeDescription}}",ng-hide="$line.UnitID == 15 || $line.UnitID == 7") {{sizePretty($line.extra.size.SizeShortDescription)}}
                        a(class="accordion-toggle" style="display:block;color:#fff;font-size:14px")
                          span.itemDescription {{adjustUnitName($line.extra)}}
                      td {{$line.Cost - $line.Discount | currency}}
            .panel-collapse(style="margin-top: 6px; height: auto;",ng-show="$line.active")
              .panel-body
                table.grid.mini(ng-show="$line.extra.style.StyleDescription || $line.extra.sauce.SauceDescription")
                  tr
                    td(ng-show="$line.extra.style.StyleDescription")
                      .micro-badge Style
                      |  {{$line.extra.style.StyleDescription}} 
                    td(ng-show="$line.extra.sauce.SauceDescription")
                      .micro-badge Sauce
                      |  {{$line.extra.sauce.SauceDescription}} 
                      div(ng-show="$line.extra.sauceModifier") {{$line.extra.sauceModifier.SauceModifierDescription}}
                    //- td &nbsp;
                  tr(ng-show="$line.OrderLineNotes")
                    td(colspan="2",style="padding-top:8px") <b class="micro-badge">Note</b> {{$line.OrderLineNotes}}

                table.cols.mini
                  tr
                    td(ng-show="$line.extra.toppings.length")
                      div: strong Toppings
                      ul
                        li(ng-repeat="$topping in $line.extra.toppings") {{$topping.ItemDescription}} 
                          span(ng-show="$topping.HalfID").micro-badge {{halfPretty($topping.HalfID)}}
                    td(ng-show="$line.extra.toppers.length || $line.extra.sides.length")
                      div(ng-show="$line.extra.toppers.length")
                        div: strong Crust Toppings
                        ul
                          li(ng-repeat="$topper in $line.extra.toppers") {{$topper.TopperDescription}}
                      div(ng-show="$line.extra.sides.length")
                        div: strong Sides
                        ul
                          li(ng-repeat="$side in $line.extra.sides") {{$side.SideDescription}} &times; 1
  div(ng-show="$appliedCoupons.length",style="margin-top:15px")
    h2 Selected Deal
      span(ng-show="$appliedCoupons.length > 1") s
    ul
      li(ng-repeat="$coupon in $appliedCoupons" ng-class="{strikethrough:!$coupon.Used}") <code ng-show="$coupon.PromoCode">{{$coupon.PromoCode}}</code> {{$coupon.Description}}
        span(ng-show="$coupon.Used")  (applied)
        span(ng-hide="$coupon.Used")  (not used)
  .order-table-total-wrapper(style="margin-top:30px",ng-show="$orderSubtotal")
    .promo-code-input
      input(type="text" id="promoCode-lg",ng-model="$parent.$promoCode" placeholder="Promo Code")
      button(class="btn" type="button",ng-click="$applyPromo()") Apply
    h2 Order Total
    table#order-totals-table-right(cellpadding="0" cellspacing="0" width="100%")
      tr.total-line
        td SUB TOTAL
        td {{$orderSubtotal | currency}}
      tr
        td TAXES
        td {{$order.Tax + $order.Tax2 | currency}}
      tr
        td DELIVERY CHARGE
        td {{$order.DeliveryCharge | currency}}
      tr
        td TIP
        td
          input(type="text",ng-model="$order.Tip" class="ordrTip" maxlength="4" size="4" style="text-align:right")
      tr: td(colspan="2"): hr
      tr.total-line
        td TOTAL
        td#total {{$orderTotal | currency}}
      tr(ng-show="showSubmit()"): td(colspan="2")
        hr
        a.red-gradient-button(href="/checkout") CHECKOUT

