.overlay: .dialog.text-center
	h5.modal-title HOW WOULD YOU LIKE YOUR ORDER?
	a#modeDelivery(ng-click="selectMethod('delivery')")
		img(src="/img/mode-delivery.png" style="width:200px")
	a#modePickup(ng-click="selectMethod('pickup')")
		img(src="/img/mode-pickup.png" style="width:200px")